@{
    ViewData["Title"] = "News";
}

@section heading{
<div class="title">
    <h1>NEWS</h1>
    <p>
        Welcome to Our News section. Here you can find the latest phone market
        News.
    </p>
</div>
}

<section class="news">
    <article class="news1">
        <h2>Apple iphone 14 latest rumors.</h2>

        <img src="~/Assets/Iphone14.jpg" alt="Iphone14" />
        <p>
            The iPhone 14 range could be set to receive a price hike according to
            leaker LeaksApplePro, who has claimed that some next-gen iPhones will
            launch with a high price increase over their 2021 counterparts.
            <br /><br />

            Although, not every model in the iPhone 14 range will be set to
            receive a price increase. According to this report, the standard Apple
            iPhone 14 will retail for $799. That would be the same price that both
            the iPhone 13 and iPhone 12 launched at. Keeping this price parity
            would make sense as Apple will surely want to keep the buy-in<br />
            cost of the iOS ecosystem as low as possible. <br /><br />

            It's the iPhone 14 Pro and iPhone Pro Max phones that LeaksApplePro
            has tipped for a price increase. The leaker claims that the Pro model
            will launch for $1,099 and the Pro Max will retail for $1,199. That’s
            a $100 price increase compared to their iPhone 13 counterparts. This
            relatively significant leap in launch price would certainly sting the
            wallet of anyone hoping to score the most powerful model of iPhone 14.
            <br /><br />
        </p>

        <hr />
    </article>

    <article class="news2">
        <h2>Closer look at Samsung s21 FE.</h2>
        <p>
            Samsung's Galaxy S21 FE brings a critical niche feature to the US:
            dual SIM card slots to let you carry two cellular subscriptions at
            once. Outside of that, however, there simply isn't much reason for
            this phone to exist. All around, the Galaxy S21 FE very slightly
            remixes last year's $799.99 Galaxy S21 at a somewhat lower base price
            of $699.99. But considering it's so similar to the previous model and
            coming out so close to the Galaxy S22 launch, it's hard to recommend
            unless you're specifically looking to buy a dual-SIM phone.<br />
            <br />
            The Galaxy S21 FE comes in four attractive colors: dark gray, green,
            purple, or white. It has the S21's beautiful basic design, with a
            matte back panel and the camera bump flush to the upper right corner,
            as opposed to the "floating" camera bump on the Galaxy S20 FE. <br />
            <br />
            At 6.14 by 2.93 by 0.31 inches (HWD), it's a bit bigger than the
            standard Galaxy S21 (5.97 by 2.80 by 0.31 inches), although it isn't
            as big as the S21 Ultra (6.50 by 2.98 by 0.35 inches). From the front,
            it's really difficult to tell it apart from an S20 FE or a base-model
            S21. <br />
            <br />
            That said, the Galaxy S21 FE is a perfectly good phone, and if you
            need to use two lines at once, it's currently the only
            dual-physical-SIM flagship designed for US networks. That alone might
            be enough to seal the deal for you. Take a look as well at the video
            below. Showing more details.
        </p>
        <iframe width="1000"
                height="450"
                src="https://www.youtube.com/embed/xQlBBkEDOTc"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </article>
</section>
