.content1 {
    width: 100%;
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    text-align: center;
    color: var(--primary-color);
}

    .content1 h1 {
        font-size: 60px;
        margin-top: 80px;
        transition: 0.3s;
        transition-timing-function: ease-in-out;
    }
